<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cartes de dons</title>
<link rel="stylesheet" href="./rechercher-don.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div class="navbar">
 
</div>

<div class="container">
  <div class="row">
    <div class="card">
     
      <h3>Chaise de transport</h3>
      <img src="https://www.previmed.ca/upload/ecommerce-document/catalogue/nrs185007.jpg" alt="Chaise de transport">
      <p><strong>Mode d'utilisation:</strong> Placer l'utilisateur sur le siège, ajuster les repose-pieds et les accoudoirs, puis pousser à l'aide des poignées arrière. Les freins sont utilisés pour immobiliser la chaise lorsque nécessaire.</p>
      <button>Demander</button>
      <div class="icons">
        <i class="fas fa-envelope"></i>
        <i class="fas fa-phone"></i>
      </div>
    </div>
    <div class="card">
      <h3>Tensiomètre</h3>
      <img src="https://static.praxisdienst.com/out/pictures/generated/product/1/800_800_90/136718_omron_rs2_neu_1.jpg" alt="Tensiomètre">
      <p><strong>Mode d'utilisation:</strong> Placez le brassard autour du bras, alignez le brassard avec le cœur, puis appuyez sur le bouton pour démarrer la mesure. Attendre que le résultat s'affiche.</p>
      <button>Demander</button>
      <div class="icons">
        <i class="fas fa-envelope"></i>
        <i class="fas fa-phone"></i>
      </div>
    </div>
    <div class="card">
      <h3>Amplificateur auditif</h3>
      <img src="https://www.polemil.net/Image/14193/1200x1200/amplificateur-auditif-ha-20.jpg" alt="Amplificateur auditif">
      <p><strong>Mode d'utilisation:</strong> Pour utiliser un amplificateur auditif, insérez-le dans ou près de votre oreille, allumez-le et réglez le volume selon vos besoins. Portez-le pendant vos activités quotidiennes et assurez-vous de l'entretenir régulièrement en suivant les instructions du fabricant.</p>
      <button>Demander</button>
      <div class="icons">
        <i class="fas fa-envelope"></i>
        <i class="fas fa-phone"></i>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="card">
    <h3>Siège de bain</h3>
    <img src="https://th.bing.com/th/id/R.ef6f9f92fdfc16bb56cf174053315226?rik=z9%2bYHZ6jm6zMwA&pid=ImgRaw&r=0" alt="Siège de bain">
    <p><strong>Mode d'utilisation:</strong> Il suffit de le placer à l'intérieur de la baignoire, de s'asseoir dessus et de le fixer solidement. Cela permet à l'utilisateur de prendre un bain en toute sécurité et confortablement.</p>
    <button>Demander</button>
    <div class="icons">
      <i class="fas fa-envelope"></i>
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="card">
    <h3>Orthèse de genou</h3>
    <img src="https://th.bing.com/th/id/R.c4a6067455b590294eecbd81ce590777?rik=xnqgWOYnylul5w&pid=ImgRaw&r=0" alt="Orthèse de genou">
    <p><strong>Mode d'utilisation:</strong> Il suffit de la placer autour du genou, en ajustant les sangles pour un maintien sûr, puis de continuer à marcher ou à effectuer des mouvements tout en bénéficiant du soutien et de la stabilisation qu'elle offre.</p>
    <button>Demander</button>
    <div class="icons">
      <i class="fas fa-envelope"></i>
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="card">
    <h3>Lit électrique</h3>
    <img src="https://th.bing.com/th/id/R.1317e8f445159e8af630fdb408997106?rik=jRYA5rlaCHtKBA&riu=http%3a%2f%2fpsccmedical.ca%2fwp-content%2fuploads%2f2017%2f02%2fPB204A-840x840.jpg&ehk=vqGXRrktpPFsVHiw7znsEa1WOZp%2biiX6jGb9N49Y6o0%3d&risl=&pid=ImgRaw&r=0" alt="Lit électrique">
    <p><strong>Mode d'utilisation:</strong> Il suffit d'utiliser la télécommande pour ajuster la hauteur du lit selon les besoins de l'utilisateur, offrant ainsi un confort et une accessibilité personnalisés.</p>
    <button>Demander</button>
    <div class="icons">
      <i class="fas fa-envelope"></i>
      <i class="fas fa-phone"></i>
    </div>
  </div>
</div>

</div>

</body>
</html>