
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./consultercollecteur.component.css">

    <title>CONSULTER </title>
</head>
<body>
    
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">PROFILE</th>
        <th scope="col">CIN</th>
        <th scope="col">NUM TEL</th>
        <th scope="col">ADRESS HANDICAPE</th>
        <th scope="col">ID PRODUIT</th>
        <th scope="col">CONFIRMATION</th>
        <th scope="col">DATE RECEPTION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><input type="checkbox"></th>
        <td>144582369</td>
        <td>22365951</td>
        <td>ariana</td>
        <td>P1</td>
        <td>OUI</td>
        <td>01-02-2024</td>
      </tr>
      <tr>
        <th><input type="checkbox"></th>
        <td>098742365</td>
        <td>90145652</td>
        <td>ben arous</td>
        <td>P2</td>
        <td>OUI</td>
        <td>11-02-2024</td>
      </tr>
      <tr>
        <th><input type="checkbox"></th>
        <td>445871629</td>
        <td>96852159</td>
        <td>Nabeul</td>
        <td>P3</td>
        <td>NON</td>
        <td>21-04-2024</td>
      </tr>
      <tr>
        <th><input type="checkbox"></th>
        <td>445871629</td>
        <td>96852159</td>
        <td>Nabeul</td>
        <td>P4</td>
        <td>NON</td>
        <td>21-06-2024</td>
      </tr>
      <tr>
        <th><input type="checkbox"></th>
        <td>445871629</td>
        <td>96852159</td>
        <td>KELIBIA</td>
        <td>P5</td>
        <td>OUI</td>
        <td>02-03-2024</td>
      </tr>
      <tr>
        <th><input type="checkbox"></th>
        <td>445871629</td>
        <td>96852159</td>
        <td>SIDI BOU SAID</td>
        <td>P6</td>
        <td>OUI</td>
        <td>21-07-2024</td>
      </tr>
      <tr>
        <th><input type="checkbox"></th>
        <td>445871629</td>
        <td>96852159</td>
        <td>Nabeul</td>
        <td>P7</td>
        <td>NON</td>
        <td>10-04-2024</td>
      </tr>
      <tr>
        <th><input type="checkbox"></th>
        <td>111871629</td>
        <td>96852159</td>
        <td>Nabeul</td>
        <td>P8</td>
        <td>NON</td>
        <td>21-04-2024</td>
      </tr>
      <tr>
        <th><input type="checkbox"></th>
        <td>333871629</td>
        <td>97852159</td>
        <td>Nabeul</td>
        <td>P9</td>
        <td>NON</td>
        <td>22-05-2024</td>
      </tr>
      <tr>
        <th><input type="checkbox"></th>
        <td>086871629</td>
        <td>55852159</td>
        <td>MAHDIA</td>
        <td>P10</td>
        <td>OUI</td>
        <td>22-05-2024</td>
      </tr>
    </tbody>
  </table>
    <div>
      <button type="button" class="btn btn-outline-primary">Modifier</button>
    <button type="button" class="btn btn-outline-primary">Supprimer</button>
    </div>
  
  
</body></html>