<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<title>Navbar Stylish</title>
<link rel="stylesheet" href="./navbar.component.css">
</head>
<body>

<div class="navbar">
  <a href="home" class="active">Accueil</a>
  <a href="connexion">Connexion</a>
  <a href="consultercompte">Compte</a>
  <a href="affecter">Affecter Don</a>
  <a href="collect">Confirmer Collecte</a>
  <a href="gererdon">Publier Don</a>
  <div class="search-container">
    <input type="text" placeholder="Chercher catégorie ou produit..." name="search">
    <button type="submit" class="btn">Chercher</button>
  </div>
</div>

</body>
</html>