
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Document</title>
</head>
<body>
    
<table class=" table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">PROFILE</th>
        <th scope="col">EMAIL</th>
        <th scope="col"> MOT DE PASSE</th>
        <th ></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><i class="fas fa-user user-icon"></i><a href="gerercollecteur">COLLECTEURS</a></th>
        <td>OTTO&#64;gmail.com</td>
        <td>*****</td>
        <td><button type="button" class="btn btn-outline-success">Ajouter</button></td>
        
      </tr>
      <tr>
        <th></th>
        <td>CHISCA&#64;yahoo.tn</td>
        <td>******</td>
        <td><button type="button" class="btn btn-outline-success">Ajouter</button></td>
      </tr>
      <tr>
        <th></th>
        <td>NINA&#64;gmail.com</td>
        <td>**********</td>
        <td><button type="button" class="btn btn-outline-success">Ajouter</button></td>
      </tr>
      <tr>
        <th></th>
        <td>mark&#64;yahoo.tn</td>
        <td>******</td>
        <td><button type="button" class="btn btn-outline-success">Ajouter</button></td>
      </tr>
      <tr>
        <th></th>
        <td>JACOP&#64;gmail.tn</td>
        <td>******</td>
        <td><button type="button" class="btn btn-outline-success">Ajouter</button></td>
      </tr>
      <tr>
        <th></th>
        <td>LOARA&#64;gmail.com</td>
        <td>******</td>
        <td><button type="button" class="btn btn-outline-success">Ajouter</button></td>
      </tr>
      <tr>
        <th></th>
        <td>larybf&#64;yahoo.tn</td>
        <td>******</td>
        <td><button type="button" class="btn btn-outline-success">Ajouter</button></td>
      </tr>
      <tr>
        <th></th>
        <td>SELMA&#64;yahoo.tn</td>
        <td>******</td>
        <td><button type="button" class="btn btn-outline-success">Ajouter</button></td>
      </tr>
      
      <tr>
        <th></th>
        <td>ALABN&#64;gmail.com</td>
        <td>******</td>
        <td><button type="button" class="btn btn-outline-success">Ajouter</button></td>
      </tr>
    </tbody>
  </table>
  
</body></html>