<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>gerer collecteur</title>
      <link rel="stylesheet" href="./gerer-collecteur.component.css">
  </head>
  <body style="display:flex; align-items:center; justify-content:center;">
  <div class="login-page">
    <div class="form">
      
      <form class="login-form">
        <h2> Gerer Collecteur</h2>
        <input type="text" placeholder="CIN *" required />
        <input type="text" placeholder="PRENOM *" required />
        <input type="text" placeholder="NOM *" required />
        <input type="number" placeholder="NUM TEL *" required/>
        <input type="text" placeholder="ADRESS HANDICAPE *" required />
        <input type="text" placeholder="ID PRODUIT *" required />
        
        <a class="btn" href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Ajouter
        </a>
        <a class="btn" href="consulter">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Consulter
          </a>
      </form>
    </div>
  </div>
  
  </body>
  </html>
