<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
      <link rel="stylesheet" href="./affecter-don.component.css">
  </head>
  <body style="display:flex; align-items:center; justify-content:center;">
  <div class="login-page">
    <div class="form">
      
      <form class="login-form">
        <h2> Affecter Don</h2>
        <input type="text" placeholder="ID PRODUIT" required />
        <input type="text" placeholder="CIN DONNEUR" required />
        <input type="text" placeholder="CIN HANDICAPE" required/>
        
        
        <a class="btn" href="inscrire">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          AFFECTER
        </a>
        
      </form>
    </div>
  </div>
  
  </body>
  </html>
